body {
	font-family: verdana;
}
code {
	background-color: #eee;
	border-radius: 2px;
	padding: 2px 4px;
	color: #b00;
}
.button {
	font-family: verdana;
	background-color: #ddd;
	margin: 10px 5px;
	padding: 5px;
	border-radius: 4px;
	border: 1px #888 solid;
}
